.root {
  box-sizing: border-box;
  --block-radius: 8px;
  max-width: var(--course-content-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  & li p {
    margin: 0 0 0.3rem 0;
  }

  & a,
  & a:hover,
  & a:visited {
    color: var(--color-text);
  }

  & p {
    margin: 0 0 1rem 0;
  }

  & img {
    max-width: 100%;
    /* width: 100%; */
    border-radius: var(--block-radius);
  }

  & :global(.video-container) {
    width: 100%;
    border-radius: var(--block-radius);
    margin-bottom: 2rem;
    border: 8px solid var(--color-line);
    box-sizing: border-box;
  }

  & kbd {
    display: inline-block;
    padding: 1px 6px;
    margin: 0 5px;
    background: var(--color-local-highlite-lighter4);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-bottom-width: 2px;
  }

  & blockquote {
    margin: 5px 10px;
    padding-left: 15px;
    border-left: 3px solid var(--color-local-highlite-lighter3);
  }

  & table {
    border: 1px solid var(--color-local-highlite);
    margin-bottom: 20px;
  }

  & table figure {
    width: auto;
  }

  & table figcaption {
    white-space: nowrap;
  }

  & thead {
    background: var(--color-local-highlite);
    color: #fff;
  }

  & thead tr {
    font-weight: bold;
    text-align: left;
  }

  & thead tr th p {
    margin: 0;
    color: #fff;
  }

  & td,
  & th {
    padding: 8px;
  }

  & td p:last-child,
  & th p:last-child {
    margin: 0;
  }

  & td {
    vertical-align: top;
  }

  & td ul {
    margin: 0 0 0 15px;
    padding: 0;
  }

  & tbody tr:nth-child(even) {
    background-color: #fff;
  }

  & tbody tr:nth-child(odd) {
    background-color: var(--color-local-highlite-lighter4);
  }

  & strong,
  & a,
  & h2,
  & h3,
  & h4,
  & h5 {
    color: var(--color-local-highlite);
    /* opacity: var(--alpha-course-content-highlited); */
  }

  & h2 {
    font-size: 1.7rem;
    margin: 0 0 0.5rem 0;
    font-weight: bold;
  }

  & h3 {
    font-size: 1.5rem;
    margin: 2rem 0 0.5rem 0;
  }

  & h4 {
    font-size: 1.3rem;
    margin: 1.5rem 0 0.5rem 0;
  }

  & h5 {
    font-size: 1rem;
    margin: 1.2rem 0 0.5rem 0;
  }

  & :global(.hlcode) {
    position: relative;
    white-space: break-spaces;
    border-radius: var(--block-radius);
    overflow: hidden;

    &::before {
      position: absolute;
      right: 0.5rem;
      color: rgb(255 255 255 / 50%);
      content: attr(data-language);
      text-transform: uppercase;
    }

    & code {
      max-width: 100%;
      display: block;

      & :global(.hljs-string) {
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }

    & > div {
      padding: 1.3rem 1rem 1rem 1rem;
    }
  }

  & code:not(:global(.hlcode--block)) {
    background: var(--color-course-content-semi-transparent-background);
    padding: 1px 5px;
    margin: 0 4px;
    border: 1px solid var(--color-course-content-semi-transparent-line);
    display: inline-block;
    word-break: break-word;
  }

  & figure {
    text-align: center;
    margin: 2rem 0;
  }

  & figcaption {
    padding-top: 0.3rem;
    font-size: 0.8rem;
    width: 70%;
    margin: 0.5rem auto 0 auto;
    border-top: 1px solid rgb(0 0 0 / 15%);
  }

  & aside[data-claire-semantic='information'],
  & aside[data-claire-semantic='error'],
  & aside[data-claire-semantic='warning'],
  & div[data-claire-semantic='question'] {
    box-sizing: content-box;
    position: relative;
    border-radius: var(--block-radius);
    margin: 25px 0 20px 0;
    padding: 10px 10px 10px 30px;
    min-height: auto;
    &::before {
      content: '';
      display: block;
      position: absolute;
      border-radius: 0;
      width: 30px;
      height: 30px;
      top: -10px;
      left: -10px;
      z-index: 1;
      margin: 0;
    }

    & p:last-of-type {
      margin-bottom: 0;
    }
  }

  --svg-icon-information: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M26.4 22.2c1-1.9 1.6-4 1.6-6.3 0-7.6-6.2-13.8-13.8-13.8s-13.8 6.2-13.8 13.8 6.2 13.8 13.8 13.8c3.5 0 6.7-1.3 9.2-3.5l7.2 2-4.1-5.9zM13.4 22.3c0.1 0.1 0.2 0.1 0.3 0.1 0.1 0 0.3-0.1 0.5-0.2 0.5-0.4 1-1 1.6-1.7l0.5 0.3c-0.6 0.9-1.3 1.7-2.2 2.4-0.6 0.5-1.2 0.7-1.8 0.7-0.4 0-0.7-0.1-0.9-0.3s-0.4-0.5-0.4-0.8c0-0.3 0.1-0.9 0.3-1.7l1.8-6.1c0.3-1 1-3.4 1-3.4l2.1-0.3-2.7 9.6c-0.2 0.6-0.3 1-0.3 1.2 0 0.1 0 0.3 0.1 0.4zM17 8.1c-0.3 0.3-0.6 0.4-1 0.4s-0.7-0.1-1-0.4c-0.3-0.3-0.4-0.6-0.4-1 0-0.4 0.1-0.7 0.4-1 0.3-0.3 0.6-0.4 1-0.4s0.7 0.1 1 0.4c0.3 0.3 0.4 0.6 0.4 1 0 0.4-0.1 0.7-0.4 1z"/></svg>');
  --svg-icon-warning: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="%23f39539" d="M26.4 22.2c1-1.9 1.6-4 1.6-6.3 0-7.6-6.2-13.8-13.8-13.8s-13.8 6.2-13.8 13.8 6.2 13.8 13.8 13.8c3.5 0 6.7-1.3 9.2-3.5l7.2 2-4.1-5.9zM12.7 22.6c-0.7 0-1.2-0.6-1.2-1.3 0-0.8 0.6-1.5 1.4-1.5 0.7 0 1.2 0.6 1.2 1.3 0 0.8-0.6 1.4-1.4 1.4zM14.1 18.1h-1.4l1.7-10.5h2.1l-2.3 10.5z"/></svg>');
  --svg-icon-error: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="%23c21936" d="M26.4 22.2c1-1.9 1.6-4 1.6-6.3 0-7.6-6.2-13.8-13.8-13.8-7.6 0-13.8 6.2-13.8 13.8s6.2 13.8 13.8 13.8c3.5 0 6.7-1.3 9.2-3.5l7.2 2-4.1-5.9zM17.7 19.6h-2.5l-0.5-1.2c-0.2-0.6-0.4-1-0.5-1.4h-0.1c-0.2 0.4-0.4 0.8-0.8 1.3l-0.9 1.4h-2.6l3.4-4-1.8-3.8h2.5l0.5 1.2c0.2 0.6 0.4 1 0.5 1.3h0c0.3-0.4 0.5-0.8 0.8-1.2l0.9-1.2h2.6l-3.3 3.8 1.8 4z"/></svg>');
  --svg-icon-question: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="%23565656" d="M26.4 22.2c1-1.9 1.6-4 1.6-6.3 0-7.6-6.2-13.8-13.8-13.8s-13.8 6.2-13.8 13.8 6.2 13.8 13.8 13.8c3.5 0 6.7-1.3 9.2-3.5l7.2 2-4.1-5.9zM13.2 22.6c-0.7 0-1.2-0.6-1.2-1.3 0-0.8 0.6-1.5 1.4-1.5 0.7 0 1.2 0.6 1.2 1.3 0 0.8-0.6 1.4-1.4 1.4zM16.6 14.4c-1.1 1.1-1.6 2-1.7 3.2 0 0.2-0.1 0.4-0.1 0.6h-1.8c0-0.2 0-0.4 0-0.6 0.1-1.2 0.7-2.5 2.1-4 1-1 1.9-2 1.9-3.2 0-0.8-0.4-1.5-1.7-1.5-0.8 0-1.6 0.2-2.2 0.6l-0.3-1.3c0.8-0.5 1.8-0.8 3-0.8 2.1 0 3.1 1.4 3.1 2.7 0 1.7-1.1 3-2.4 4.3z"/></svg>');

  & [data-claire-semantic='information'] {
    background: var(--color-course-content-information-background);
    border-bottom: 4px solid var(--color-course-content-information-line);
    &::before {
      background-color: var(--color-course-content-information);
      -webkit-mask: var(--svg-icon-information);
      mask: var(--svg-icon-information);
    }
  }

  & [data-claire-semantic='warning'] {
    background: var(--color-course-content-warning-background);
    border-bottom: 4px solid var(--color-course-content-warning-line);
    &::before {
      background-color: var(--color-course-content-warning);
      -webkit-mask: var(--svg-icon-warning);
      mask: var(--svg-icon-warning);
    }
  }

  & [data-claire-semantic='error'] {
    background: var(--color-course-content-error-background);
    border-bottom: 4px solid var(--color-course-content-error-line);
    &::before {
      background-color: var(--color-course-content-error);
      -webkit-mask: var(--svg-icon-error);
      mask: var(--svg-icon-error);
    }
  }

  & [data-claire-semantic='question'] {
    background: var(--color-course-content-question-background);
    border-bottom: 4px solid var(--color-course-content-question-line);
    &::before {
      background-color: var(--color-course-content-question);
      -webkit-mask: var(--svg-icon-question);
      mask: var(--svg-icon-question);
    }
  }
}
