.titleContainer {
  width: var(--course-content-width);
  margin: auto;
  padding: 0 1rem;
  box-sizing: border-box;
  color: var(--color-local-highlite);
}

.courseContentContainer {
  width: 100%;
  padding-bottom: 32px;
}

.wrapper {
  display: flex;
}

.actions {
  margin: 32px 0;
  & div {
    text-align: center;
    width: var(--course-content-width);
    margin: auto;
  }
}
