.titleContainer {
  width: var(--course-content-width);
  margin: auto;
  padding: 0 1rem;
  box-sizing: border-box;
  color: var(--color-local-highlite);
}

.courseContentContainer {
  width: 100%;
  padding-bottom: 32px;
}

.wrapper {
  display: flex;
}

.actions {
  width: var(--course-content-width);
  margin: 32px auto 0 auto;

  & div {
    text-align: right;
    padding: 0 16px;
  }
}
